language : node_js
node_js:
   - 16.8.0
env:
    - DATABASE_URL=postgres://tcjuiobxjjyuem:4453f68486dd6981ce17e604f18a4d0b7dfb16a410de1c7cf0d6e20a22a6d8d4@ec2-44-197-94-126.compute-1.amazonaws.com:5432/d4t968b5v0lopc
     before_script:
    - psql -c 'create database  greetings;' -U postgres
    - psql -U postgres -d greetings -a -f database.sql

    services:
        - postgresql
